<h2>General Typography</h2>


<% 6.times do |i| %>
  <h<%= i+1 %>>h<%= i+1 %>. This is a header.</h<%= i+1 %>>
<% end %>

<p>This is a paragraph. Paragraphs are preset with a font size, line height and spacing to match the overall vertical rhythm. To show what a paragraph looks like this needs a little more content so, let's see… did you know that there are storms occurring on Jupiter that are larger than the Earth? That's pretty cool.</p>


<h2>Links</h2>

<% 6.times do |i| %>
  <h<%= i+1 %>><a href="#">h<%= i+1 %>. This is a header.</a></h<%= i+1 %>>
<% end %>
